<html lang="es" class="full-height">
<header class="intro-header">

  <div class="view verticalheight" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>CanvasMix</strong></h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong><em>Una herramienta de monitoreo de actividades de profesores y alumnos</em></strong></h5>
              <button (click)="openLogin()" mdbBtn color="danger" class="wow fadeInDown waves-light rounded mb-0" data-wow-delay="0.4s" mdbWavesEffect><mdb-icon fab icon="google mr-3"></mdb-icon> Ingresar con Google</button>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
</html>